body {
           font-family: 'Karla', sans-serif;
}

.navbar-brand {
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
}

.newbg {
    background-color: white; 
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 10px;
}
.banner {
            background: url(./images/newlanding.jpg);
            background-size: cover;
            z-index: 1;
            -webkit-filter: brightness(80%);
            
}

#landingImage {
position:relative;
text-align: center;
color: white;
margin-top: 0px;

}

.landingText {
    position: absolute;
	font-family: 'Karla', sans-serif;
	border-right: .1em solid white;
	top: 40%;
    left: 10%;
    font-size: 5rem;
}

.aboutImage {
    width: 250px;
    height: 320px;
    background-image:url(./images/metransp.png);
    -webkit-filter: grayscale(100%) saturate(2) contrast(1) brightness(2);
}

.headingSection {
    margin-left: 20px;
    Margin-right: 20px;
}

#aboutMe {
    font-family: 'Karla', sans-serif;
    color: #4a4a4f;
    background-color: white;
    font-size: 2rem;
    margin-left: 20px;
}



#skills {
    position: relative;
    font-family: 'Karla', sans-serif;
    color: #4a4a4f;
    background-color: white;
    font-size: 2rem;
    margin-left: 20px;
}

.card-title {
    font-size: 3rem;
}


.skillSkill {
    background-image:url(./images/skillsBackground.jpeg);
    background-size: cover;
    padding-bottom: 30px;
    -webkit-filter: contrast(1);
}

.card {
    padding: 20px 20px 20px 20px;
    padding-bottom: 40px;
    background-color: #F4D180;
    opacity: .6;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 1.0), 0 6px 60px 0 rgba(0, 0, 0, 0.50);
    

}

.card-text {
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    color: #4a4a4f;
}

.card-title {
    color: #4a4a4f;
}


.icon {
    color: white;
}

#contact {
            background: url(./images/cactus.jpeg);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
}

#myForm {
    opacity: 0.5;
}

.modal-content{
    background-image:url(./images/envelope4.jpg);
    background-size: cover;
    -webkit-filter: hue-rotate(50deg);
}

#myModal {
    text-align: center;
    height: 300px;
    color: white;
    font-size: 2rem;
}

.modal-title {
    font-size: 3rem;
}