body {
           font-family: 'Karla', sans-serif;
}

.navbar-brand {
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
}


.newbg {
    background-color: white; 
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 10px;
}
.banner {
            background-size: cover;
            z-index: 1;
            -webkit-filter: brightness(80%);
            
}

#landingImage {
position:relative;
text-align: center;
color: white;
margin-top: 0px;

}

.landingText {
    position: absolute;
    margin: auto;
    top: 20%; left: 0; bottom: 0; right: 0;
	font-family: 'Karla', sans-serif;
	/*top: 20%;
    left: 10%;*/
    font-size: 5rem;
}


.headingSection {
    margin-left: 20px;
    Margin-right: 20px;
}

#aboutMe, .articleContent {
    font-family: 'Karla', sans-serif;
    color: #4a4a4f;
    background-color: white;
    font-size: 2rem;
    margin-left: 20px;
}

.resumeButton, .contactButton {
    background-color: #C3AEAF;
    border-color: #C3AEAF;
    font-size: 2rem;
    color: white;
}
.contactButton {
    background-color: #EA615B;
    border-color: #EA615B;
    font-size: 2rem;
    color: #EA615B;
}


#skills {
    position: relative;
    font-family: 'Karla', sans-serif;
    color: #4a4a4f;
    background-color: white;
    font-size: 2rem;
    margin-left: 20px;
}

.headingSection {
    padding-top: 20px;
}

.card-title {
    font-size: 3rem;
}


.skillSkill {
    background-image:url(./images/desk.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    -webkit-filter: contrast(1);
}

.skillCard {
    padding-bottom: 20px;
}
.card {
    padding: 20px 20px 20px 20px;
    padding-bottom: 40px;
    background-color: white;
    color: #4a4a4f;
    /*background-color: #EFEBEA;*/
    opacity: .8;
    /*border: 1px solid #4a4a4f;*/


}


.card-text {
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    color: #4a4a4f;
}

.card-title {
    color: #4a4a4f;
}


.icon {
    color: #4a4a4f;
}

#portfolio {
    font-family: 'Karla', sans-serif;
    color: #4a4a4f;
    background-color: white;
    font-size: 2rem;
    margin-left: 20px;
    padding-bottom: 20px;
}

.imageContainer {
    position: relative;
    padding-bottom: 20px;
    
}


.portfolioImageText {
    margin: auto;
    position: absolute;
    top: 20%; left: 0; bottom: 0; right: 0;
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
    color: white;
    text-align: center;
    
}

.portfolioCard1 {
    background-image: url(./images/CharcuterieBoard.jpeg);
    padding: 30px;
    opacity: 1.0;
}

.portfolioCard2 {
    background-image: url(./images/pencils.jpeg);
    padding: 30px;
    opacity: 1.0;
    
}

.portfolioCard3 {
    background-image: url(./images/wheel.jpg);
    padding: 30px;
    opacity: 1.0;
}

.portfolioCard4 {
    background-image: url(./images/justitia.jpg);
    padding: 30px;
    opacity: 1.0;
}

.portfolioCard5 {
    background-image: url(./images/globe.jpeg);
    padding: 30px;
    opacity: 1.0;
}

.portfolioCard6 {
    background-image: url(./images/burger.jpeg);
    padding: 30px;
    opacity: 1.0;
}
.cardTitle{
    color: white;
    text-align: center;
    font-size: 4rem;
    /*vertical-align: middle;*/
    margin:auto;
    margin-top: 30px;
}

.postButton {
    background-color: #EB9431;
    color: white;
    border-color:  #EB9431;
    padding: 10px;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.gitLogo {
    margin: auto;
    margin-bottom: 30px;
}

   
#contact {
            background: url(./images/phone.jpg);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: #4a4a4f;
            width: 100%;
            height: auto;
            /*-webkit-filter: hue-rotate(300deg);*/
            opacity: 0.7;

            
}

.myForm {
    /*opacity: 0.5;*/
    padding-bottom: 20px;
}


.formText {
    font-size: 2rem;
    color: #4a4a4f;
}

.formHeader {
    color: #4a4a4f;
}

.contactButton {
    background-color: white;
    color: #4a4a4f;
    border-color: white;
}

.modal-content{
    background-image:url(./images/envelope4.jpg);
    background-size: cover;
    -webkit-filter: hue-rotate(50deg);
}

#myModal {
    text-align: center;
    height: 300px;
    color: white;
    font-size: 2rem;
}

.modal-title {
    font-size: 3rem;
}

.blogStep {
    border: 2px solid #c18ba9;
    margin: 20px 20px 20px 20px;
}

.blogsectionHeading, .wordsQuote { 
    color: #c18ba9;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#Footer {
    background-color: white; 
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #4a4a4f;
}

.footerLogo {
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
    color: #4a4a4f;
}

.fa-linkedin, .fa-github, .fa-file{
    color: #C3AEAF;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 30px;
    margin: 20px 20px 20px 20px;
}

.Github2 {
    color: white;
    margin: auto;
    padding: 10px;
}
.footerIcons {
     color: #C3AEAF;
}

.testimonial {
    font-size: 1.7rem;
    color: #BA7F7E;
}

#Testimonials {
    background-color: white;
    color: #4a4a4f;
}

.carouselRow{
   padding-top: 20px;
   padding-bottom: 20px;
   margin-bottom: 20px;
   
    
}

.carousel1 {
    opacity: 0.8;
    font-size: 2rem;
    color: #4a4a4f;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 1.0;
}

.carousel2, .carousel3 {
    font-size: 2rem;
    color: #4a4a4f;
    text-align: center;
    opacity: 1.0;
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    padding: 20px;
    margin: 20px;
    
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
   color: #E35D5B;
   margin: 10px;
}

@media only screen and (max-width: 768px) {
    .landingText, .cardTitle {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 768px) {
    .portfolioImageText {
        font-size: 2rem;
        margin: auto;
    }
}

@media only screen and (max-width: 700px) {
    .carousel1, .carousel2, .carousel3 {
        font-size: 1.5rem;
      
    }
}
