body {
           font-family: 'Karla', sans-serif;
}

.navbar-brand {
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
}


.newbg {
    background-color: white; 
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 10px;
}
.banner {
            background-size: cover;
            z-index: 1;
            -webkit-filter: brightness(80%);
            
}

#landingImage {
position:relative;
text-align: center;
color: white;
margin-top: 0px;

}

.landingText {
    position: absolute;
    margin: auto;
    top: 20%; left: 0; bottom: 0; right: 0;
	font-family: 'Karla', sans-serif;
	/*top: 20%;
    left: 10%;*/
    font-size: 5rem;
}


.headingSection {
    margin-left: 20px;
    Margin-right: 20px;
}

#aboutMe, .articleContent {
    font-family: 'Karla', sans-serif;
    color: #4a4a4f;
    background-color: white;
    font-size: 2rem;
    margin-left: 20px;
}

.resumeButton, .contactButton {
    background-color: #C3AEAF;
    border-color: #C3AEAF;
    font-size: 2rem;
    color: white;
}
.contactButton {
    background-color: #EA615B;
    border-color: #EA615B;
    font-size: 2rem;
    color: #EA615B;
}


#skills {
    position: relative;
    font-family: 'Karla', sans-serif;
    color: #4a4a4f;
    background-color: white;
    font-size: 2rem;
    margin-left: 20px;
}

.headingSection {
    padding-top: 20px;
}

.card-title {
    font-size: 3rem;
}


.skillSkill {
    background-image:url(./images/newSkills.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    -webkit-filter: contrast(1);
}

.card {
    padding: 20px 20px 20px 20px;
    padding-bottom: 40px;
    background-color: white;
    color: #4a4a4f;
    /*background-color: #EFEBEA;*/
    opacity: .8;
    /*border: 1px solid #4a4a4f;*/


}


.card-text {
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    color: #4a4a4f;
}

.card-title {
    color: #4a4a4f;
}


.icon {
    color: #4a4a4f;
}

#portfolio {
    font-family: 'Karla', sans-serif;
    color: #4a4a4f;
    background-color: white;
    font-size: 2rem;
    margin-left: 20px;
    padding-bottom: 20px;
}

.imageContainer {
    position: relative;
    padding-bottom: 20px;
    
}


.portfolioImageText {
    margin: auto;
    position: absolute;
    top: 20%; left: 0; bottom: 0; right: 0;
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
    color: white;
    text-align: center;
    
}
   
#contact {
            background: url(./images/phone.jpg);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: #4a4a4f;
            width: 100%;
            height: auto;
            /*-webkit-filter: hue-rotate(300deg);*/
            opacity: 0.7;

            
}

.myForm {
    /*opacity: 0.5;*/
    padding-bottom: 20px;
}


.formText {
    font-size: 2rem;
    color: #4a4a4f;
}

.formHeader {
    color: #4a4a4f;
}

.contactButton {
    background-color: white;
    color: #4a4a4f;
    border-color: white;
}

.modal-content{
    background-image:url(./images/envelope4.jpg);
    background-size: cover;
    -webkit-filter: hue-rotate(50deg);
}

#myModal {
    text-align: center;
    height: 300px;
    color: white;
    font-size: 2rem;
}

.modal-title {
    font-size: 3rem;
}

.blogStep {
    border: 2px solid #c18ba9;
    margin: 20px 20px 20px 20px;
}

.blogsectionHeading, .wordsQuote { 
    color: #c18ba9;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#Footer {
    background-color: white; 
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #4a4a4f;
}

.footerLogo {
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
    color: #4a4a4f;
}

.fa-linkedin, .fa-github, .fa-file{
    color: #C3AEAF;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 30px;
    margin: 20px 20px 20px 20px;
}

.footerIcons {
     color: #C3AEAF;
}


@media only screen and (max-width: 500px) {
    .landingText {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 500px) {
    .portfolioImageText {
        font-size: 2rem;
    }
}
